.priceCell {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  background-color: #f6f6f6;
}

.priceCell:focus,
.priceCell:active,
.priceCell:hover {
  background-color: rgba(147, 234, 255, 0.59) !important;
}

.colorCell {
  background-color: var(--black);
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clarityCell {
  height: 40px;
  background-color: #fff;
  color: var(--black);
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellWithBorderRight {
  border-right: 1px solid var(--black);
}

.cellWithBorderBottom {
  border-bottom: 1px solid var(--black);
}

@media (min-width: 768px) {
  .priceCell,
  .colorCell,
  .clarityCell {
    font-size: 14px;
    height: 45px;
  }
}

@media (min-width: 1024px) {
  .priceCell,
  .colorCell,
  .clarityCell {
    font-size: 14px;
    height: 55px;
  }
}

#next :global(.quick-find__cell) {
  background-color: red;
}
