/* main start */

.main {
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
}

.main * {
  font-family: var(--poppins) !important;
}

.stepsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

/* main end */

/* steps indicators start */

.stepIndicators {
  display: grid;
  grid-template-columns: repeat(5, 28px);
  grid-template-rows: 4px;
  justify-content: center;
  column-gap: 4px;
  width: 80%;
  margin: 0 auto;
}

.stepIndicator {
  flex: 1;
  border-radius: 10px;
  background-color: #a0afc4;
  position: relative;
}

.stepIndicator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: width 0.3s ease-in;
  background-color: #006dff;
}

.stepIndicatorActive::before {
  width: 100%;
  background-color: #006dff;
}

/* steps indicators end */

/* actions start */

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submit {
  background: #006dff;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
}

.skip {
  font-size: 17px;
  text-decoration: underline;
  color: #182d5d;
  margin-top: 1rem;
  font-weight: 400;
}

/* actions ends */

/* welcome start */

.welcomeContainer {
  text-align: center;
}

.welcomeTitle {
  font-weight: 600;
  font-size: 24px;
  color: #182d5d;
  line-height: 43px;
}

.welcomeSubtitle {
  font-weight: 600;
  font-size: 14px;
  color: #182d5d;
  line-height: 30px;
}

.welcomeText {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #182d5d;
}

/* welcome ends */

/* step start */

.stepContainer {
  width: 100%;
}

.stepGif {
  position: relative;
  width: 100%;
  height: 190px;
}

.stepTitle {
  font-weight: 600;
  font-size: 27px;
  line-height: 43px;
  color: #182d5d;
  text-align: center;
  margin-top: 24px;
}

.stepText {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #182d5d;
}
